@model CombinedViewModel

<div class="text-center">

    <h1>I'm @Model.Person.Name </h1>

    <h2>Front End Developer specialized in React js and Next js</h2>

    <img class="rounded-circle my-5 w-25"
         src="~/images/Bruno.jpeg" alt="Foto de Bruno" />
</div>



<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 welcome_section">
        <h1>Welcome to my portfolio</h1>
        <p>
            Front-End Developer with a passion for creating intuitive and functional interfaces to
            improve user experience. Skilled in HTML, CSS, JavaScript, React and Next js, with a
            strong foundation in web development. Eager to leverage my technical and problemsolving skills in a dynamic and collaborative environment.
        </p>
    </div>

</div>