
<div style="margin-top: -105px;" class="d-flex justify-content-center align-items-center w-100">
    <div class="row text-center w-100 justify-content-center">
        <div class="col col-3 bg-white containerBackend p-3">
            <h3>Back-End <i style="color: darkred;" class="bi bi-trash "></i></h3>
            <p>Lsdfsdfsd</p>
            <p class="text-primary header">
                Stack
            </p>
            <p>ASP.Net Core, SQL Server</p>
            <p class="text-primary header">
                Experiencia:
            </p>
            <ul class="list-unstyled">
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
            </ul>

        </div>

        <div class="col col-3 bg-white containerFrontend p-3">
            <h3>Front-End <i style="color: darkred;" class="bi bi-trash "></i> </h3>
            <p>Lsdfsdfsd</p>
            <p class="text-primary header">
                Stack
            </p>
            <p>React js - Next js</p>
            <p class="text-primary header">
                Experiencia:
            </p>
            <ul class="list-unstyled">
                <li>React Hooks</li>
                <li>Shadcn/ui</li>
            </ul>
        </div>
    </div>
</div>