.welcome_section{
    color: white;
    margin: 5rem 0 10rem 0;
}

.welcome_section h1{
    margin-bottom: 1rem;
}

.welcome_section p{
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1.25rem;
}

.react_image{
    width: 300px;
    margin-bottom: 2rem;
}

.header{
    font-weight: bold;
}

.containerBackend {
    border-radius: 15px 0 0 15px;
    box-shadow: 0 5px 5px 0 gray;
    padding-left: 0px;
}

.containerFrontend {
    border-radius: 0 15px 15px 0;
    box-shadow: 0 5px 5px 0 gray;
    padding-left: 0px;
}